pdfminer.six
spacy
pandas
bs4
scikit-learn
streamlit
matplotlib
seaborn
datetime
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.7/en_core_web_sm-3.8.7.tar.gz
